# Flutter generated .gitignore

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history/
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.packages
.pub-cache/
.pub-spec
build/

# IntelliJ related
*.iml
.idea/

# Android related
android/local.properties
android/**/GeneratedPluginRegistrant.java
android/.gradle/
android/app/debug.keystore
android/app/release.keystore

# iOS/macOS related
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Flutter/Generated.xcconfig
ios/Podfile.lock
ios/.symlinks/
ios/.generated/

# Windows related
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h

# VS Code related
.vscode/
